.blue {
    width: 100%;
    height: 10vh;
    background-color: blue;
}

#projects-1, #projects-2 {
    width: 50%;
    height: 80vh;
}

.devDashBoard {
    width: 30%;
}

#footer {
    width: 100%;
    height: 20%;
}

#home {
    background-image: url("/images/rawpixel-706373-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}